.blob-panel {
    width: 141px;
    height: 43px;
    padding: 0 0 0 0;
    position: relative;
    border: 2px outset rgb(239, 240, 241);
}

.name {
    font-size: 13px;
    text-align: center;
    margin: 0;
}

.hp {
    font-size: 13px;
    margin: 0;
    float: right;
    bottom: 0;
    /* left: 172px; */
    right: 1px;
}

.hp {
    position: absolute;
}

button {
    background-image: none;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}